@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{
	margin:0;
	padding:0;
}
body{
	background-color: rgb(28, 142, 142);
	height: 100vh;
	padding: 30px;
	font-family: 'Inter';
}
